---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Radu Necula"
          tagline="I am a Creative Developer who is currently based in Piatra Neamt, Romania."
          align="start"
        >
          <div class="roles gap-8">
            <Pill
              >Let's get started <svg
                width="6"
                height="11"
                viewBox="0 0 6 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.63335 4.87364L1.51379 0.759206C1.16776 0.413598 0.605566 0.413598 0.259528 0.759206C-0.0865095 1.10481 -0.0865095 1.66631 0.259528 2.01191L3.75196 5.5L0.259528 8.9881C-0.0865095 9.3337 -0.0865095 9.8952 0.259528 10.2408C0.432545 10.4136 0.65957 10.5 0.886652 10.5C1.11373 10.5 1.34078 10.4136 1.51378 10.2408L5.63333 6.12637C5.97937 5.78076 5.97937 5.21927 5.63333 4.87366L5.63335 4.87364Z"
                  fill="white"></path>
              </svg></Pill
            >
          </div>
        </Hero>

        <img
          alt="Radu Necula smiling"
          width="240"
          height="310"
          src="/assets/portrait.jpg"
        />
      </header>
    </div>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-shrink: 1;
    flex-wrap: wrap;
  }

  .roles {
    display: flex;
    max-width: fit-content;
    flex-direction: row;
  }

  .hero img {
    aspect-ratio: 4 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 9rem;
    box-shadow: var(--shadow-md);
    /* min-width: 350px; */
    flex-basis: 350px;
  }
</style>
