---

---

<footer>
  <div class="stack">
    <div class="footer-span"><span>Worked with</span></div>
    <div class="menu-header">
      <svg
        height="60"
        fill="currentcolor"
        viewBox="0 0 200.025 74.877"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        ><g style="display:inline"
          ><g
            ><path
              d="m.4 123.12 23.81-18.24C36.86 121.39 50.3 129 65.26 129c14.88 0 27.94-7.52 40.02-23.9l24.15 17.8C112 146.52 90.34 159 65.26 159c-25 0-46.87-12.4-64.86-35.88ZM65.18 43.84 22.8 80.36 3.21 57.64 65.27 4.16l61.57 53.52-19.68 22.64ZM220.74 136.47c-14.47 0-26.53-4.69-36.31-14.07-9.78-9.51-14.6-21.7-14.6-36.58 0-15 4.95-27.33 14.73-36.98 9.92-9.78 21.98-14.6 36.32-14.6 17.69 0 33.36 7.63 42.48 19.56L247.4 70.55c-7.64-8.18-15.95-12.33-24.92-12.33-7.64 0-13.94 2.54-19.17 7.77-5.09 5.23-7.63 11.8-7.63 19.7 0 7.64 2.54 14.07 7.63 19.3 5.23 5.09 11.53 7.63 19.03 7.63 9.78 0 18.36-4.29 25.46-12.73l16.62 15.95c-4.56 6.03-10.72 10.99-18.36 14.87-7.64 3.89-16.08 5.76-25.33 5.76zm71.8-103.71V135h-23.58V32.76Zm22.35 21.7c-7.9 0-13.66-5.76-13.66-13.66 0-7.64 6.03-13.4 13.66-13.4 7.64 0 13.54 5.76 13.54 13.4 0 7.9-5.9 13.67-13.54 13.67zm11.93 6.57V135H303.1V61.03Zm45.4 75.58c-11.66 0-21.04-3.62-28.4-10.86-7.24-7.23-10.86-16.48-10.86-27.87s3.62-20.63 10.99-27.87c7.37-7.24 16.88-10.85 28.67-10.85 15.41 0 28.95 7.5 35.24 21.57l-18.89 9.92c-3.75-6.3-8.98-9.52-15.81-9.52-4.96 0-8.98 1.61-12.2 4.83a16.7 16.7 0 0 0-4.69 11.92c0 9.78 7.1 17.02 16.62 17.02 6.83 0 13.13-3.75 15.81-9.51l18.9 11.25c-6.44 12.33-19.7 19.97-35.38 19.97zM489.85 135H461.7l-21.85-29.35-3.48 3.22V135H412.8V32.76h23.58v49.71l22.24-21.44h28.81l-31.75 29.75zm1.58-38.46V35.97h25.19v60.17c0 11.12 6.43 16.48 15.68 16.48 9.11 0 15.54-5.63 15.54-16.48V35.97h25.33v60.57c0 29.21-20.24 40.2-40.87 40.2-20.5 0-40.87-10.99-40.87-40.2zm137.72-37.38c10.59 0 19.17 3.75 26 11.25 6.83 7.37 10.18 16.62 10.18 27.47 0 10.86-3.48 20.1-10.31 27.74-6.84 7.5-15.41 11.26-25.73 11.26-8.18 0-15.28-2.68-21.04-8.04v36.58h-23.72V61.03h23.32v6.84c5.76-5.77 12.86-8.71 21.3-8.71zm12.06 38.99c0-9.65-6.96-17.02-16.61-17.02-9.65 0-16.75 7.37-16.75 17.02 0 4.69 1.6 8.71 4.69 12.06 3.21 3.35 7.23 4.96 12.06 4.96 4.82 0 8.84-1.61 11.92-4.96a17.25 17.25 0 0 0 4.7-12.06z"
              transform="translate(48.737 24.22) scale(.15477)"></path></g
          ></g
        ></svg
      >
      <svg
        height="60"
        fill="currentcolor"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 200.025 74.877"
        ><g style="display:inline"
          ><g style="display:inline;opacity:1"
            ><path
              d="M13.419 7.975 8.444 11.15l4.975 3.175L8.444 17.5 3.47 14.298l4.974-3.175L3.47 7.975 8.444 4.8zm-5.001 10.53 4.974-3.175 4.974 3.175-4.974 3.175zm5-4.207 4.975-3.175-4.974-3.148L18.366 4.8l4.974 3.175-4.974 3.175 4.974 3.175-4.974 3.175z"
              transform="translate(35.705 19.317) scale(1.38293)"></path><path
              d="M27.23 7.975h4.022c2.566 0 4.683 1.481 4.683 4.868v.714c0 3.414-1.985 4.948-4.604 4.948H27.23zm2.249 1.905v6.694h1.72c1.455 0 2.434-.953 2.434-3.07v-.555c0-2.117-1.032-3.07-2.514-3.07zm7.646.106h1.8l.29 1.984c.344-1.35 1.218-2.064 2.805-2.064h.556v2.276h-.926c-1.826 0-2.276.635-2.276 2.434v3.916h-2.222V9.986Zm5.9 4.445v-.239c0-2.857 1.826-4.418 4.313-4.418 2.54 0 4.313 1.561 4.313 4.418v.239c0 2.804-1.72 4.312-4.313 4.312-2.751-.026-4.313-1.508-4.313-4.312zm6.35-.027v-.212c0-1.587-.793-2.54-2.063-2.54-1.244 0-2.064.874-2.064 2.54v.212c0 1.535.794 2.408 2.064 2.408 1.27-.027 2.063-.873 2.063-2.408zm3.44-4.418h1.852l.212 1.614c.45-1.085 1.402-1.826 2.804-1.826 2.17 0 3.599 1.56 3.599 4.445v.238c0 2.805-1.588 4.286-3.599 4.286-1.349 0-2.275-.608-2.725-1.587v4.312h-2.17zm6.218 4.418v-.185c0-1.693-.873-2.54-2.038-2.54-1.243 0-2.063.952-2.063 2.54v.159c0 1.508.793 2.46 2.037 2.46 1.27-.026 2.064-.846 2.064-2.434zm5.53 2.54-.186 1.561h-1.905V7.128h2.17v4.366c.476-1.112 1.429-1.72 2.778-1.72 2.037.026 3.545 1.429 3.545 4.26v.264c0 2.831-1.428 4.445-3.598 4.445-1.429-.026-2.355-.688-2.804-1.799zm4.127-2.646v-.211c0-1.561-.847-2.435-2.037-2.435-1.217 0-2.064.98-2.064 2.461v.185c0 1.588.82 2.514 2.037 2.514 1.297 0 2.064-.82 2.064-2.514zm3.228.133v-.239c0-2.857 1.826-4.418 4.313-4.418 2.54 0 4.312 1.56 4.312 4.418v.239c0 2.804-1.746 4.312-4.312 4.312-2.752-.026-4.313-1.508-4.313-4.312zm6.376-.027v-.212c0-1.587-.793-2.54-2.063-2.54-1.244 0-2.064.874-2.064 2.54v.212c0 1.535.794 2.408 2.064 2.408 1.27-.027 2.063-.873 2.063-2.408zm5.16-.317-2.99-4.101h2.566l1.72 2.566 1.747-2.566h2.54l-3.043 4.074 3.201 4.445h-2.513l-1.958-2.831-1.905 2.831h-2.62zM6.014 9.522C4.172 8.351 3.647 7.975 3.739 7.889c.066-.06 1.151-.765 2.412-1.565l2.292-1.455 2.436 1.55c1.339.853 2.422 1.562 2.405 1.577-.09.08-4.686 2.982-4.77 3.012-.057.02-1.18-.65-2.498-1.486zm9.998.028c-1.303-.824-2.378-1.533-2.389-1.575-.021-.08 4.64-3.078 4.757-3.06.106.016 4.7 2.946 4.752 3.03.034.055-4.347 2.93-4.693 3.079-.032.014-1.125-.65-2.427-1.474zm-.052 6.327a538.184 538.184 0 0 1-2.428-1.572c-.007-.007 1.07-.702 2.395-1.545 1.463-.932 2.456-1.506 2.53-1.464.5.28 4.724 3.004 4.721 3.043-.002.028-.968.66-2.146 1.406a602.123 602.123 0 0 0-2.4 1.524l-.257.167zm-9.893.032C4.78 15.073 3.7 14.363 3.668 14.33c-.051-.053 4.623-3.09 4.758-3.09.148 0 4.85 3.06 4.794 3.119-.063.066-4.774 3.086-4.797 3.074-.007-.003-1.067-.69-2.356-1.525zm4.891 4.168c-1.316-.837-2.392-1.544-2.392-1.57 0-.027 1.085-.739 2.412-1.58l2.413-1.533 2.377 1.518c1.307.835 2.377 1.552 2.377 1.593 0 .063-4.683 3.107-4.766 3.098a167.32 167.32 0 0 1-2.42-1.526z"
              style="stroke-width:.264583"
              transform="translate(35.705 19.317) scale(1.38293)"></path></g
          ></g
        ></svg
      >
      <svg
        height="60"
        fill="currentcolor"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 200.025 74.877"
        ><g style="display:inline"
          ><g style="display:inline;opacity:1"
            ><path
              d="m52.66 36.598.659-3.66h1.521c1.152 0 2.837.206 2.55 1.727-.247 1.44-1.234 1.933-2.509 1.933h-2.22zM51.1 45.562l.904-5.14h2.714c4.728 0 7.196-2.22 7.853-5.757.576-3.412-1.315-5.55-6.044-5.55h-7.935l-2.88 16.447H51.1m18.133-5.634h-3.413l2.714-5.88zm-6.045 5.633.987-2.179h5.386l.247 2.18h5.387l-3.002-16.448h-5.468l-8.8 16.448h5.264m20.147-6.086 7.936-10.362H85.35l-3.824 5.551-1.85-5.55h-6.004l4.276 10.443-1.069 6.004h5.387l1.07-6.086"
            ></path><path
              d="M104.182 35.364c.288-4.194-2.056-6.702-7.113-6.702-4.565 0-8.758 3.33-9.704 8.635-.946 5.345 1.768 8.676 7.195 8.676 4.318 0 7.813-2.55 9.046-6.785h-5.18c-.494 1.563-1.522 2.755-3.249 2.755-2.755 0-2.878-2.138-2.467-4.482.576-3.166 1.974-4.77 3.906-4.77 1.686 0 2.59.987 2.426 2.673h5.14m4.441 10.198 1.11-6.374h5.099l-1.11 6.374h5.386l2.878-16.448H116.6l-.988 5.551h-5.098l.988-5.55h-5.387l-2.878 16.447h5.387m25.985 0 .658-3.865h-8.305l.452-2.59h6.784l.658-3.825h-6.785l.412-2.344h8.018l.699-3.824h-13.405l-2.92 16.448h13.734"
            ></path><path
              d="m143.82 40.915 1.809 4.647h6.086l-4.112-8.553 6.949-7.895h-6.045l-3.084 4.194-1.603-4.194h-6.045l3.865 7.895-7.36 8.553h6.086l3.454-4.647"
            ></path></g
          ></g
        ></svg
      >
      <svg
        height="60"
        fill="currentcolor"
        version="1.0"
        viewBox="0 0 200.025 74.877"
        xmlns="http://www.w3.org/2000/svg"
        ><g style="display:inline"
          ><g style="display:inline;opacity:1"
            ><path
              d="m330.8 165.5 4.7-.5.3 9.6a240.62 240.62 0 0 1-31.8 2.6q-17.55 0-24.9-10.2c-4.9-6.8-7.3-17.4-7.3-31.7q0-42.9 34.1-42.9c11 0 19.2 3.1 24.6 9.2 5.4 6.1 8.1 15.8 8.1 28.9l-.7 9.3h-53.8c0 9 1.6 15.7 4.9 20 3.3 4.3 8.9 6.5 17 6.5a230 230 0 0 0 24.8-.8zm-4.4-35.3c0-10-1.6-17.1-4.8-21.2-3.2-4.1-8.4-6.2-15.6-6.2-7.2 0-12.7 2.2-16.3 6.5-3.6 4.3-5.5 11.3-5.6 20.9zm29.2 45.5v-117h12.2v117zm89.3-56.9v40.1c0 4.1 10.1 4.9 10.1 4.9l-.6 10.8c-8.6 0-15.7.7-20-3.4a71.68 71.68 0 0 1-29.3 6.1c-7.5 0-13.2-2.1-17.1-6.4-3.9-4.3-5.9-10.3-5.9-18.3s2-13.8 6-17.5c4-3.7 10.3-6.1 18.9-6.9l25.6-2.4v-7c0-5.5-1.2-9.5-3.6-11.9-2.4-2.4-5.7-3.6-9.8-3.6h-32.1V92.5h31.3c9.2 0 15.9 2.1 20.1 6.4 4.2 4.3 6.4 10.9 6.4 19.9zM394.7 152c0 10 4.1 15 12.4 15a65.27 65.27 0 0 0 21.8-3.7l3.7-1.3v-26.9l-24.1 2.3c-4.9.4-8.4 1.8-10.6 4.2-2.2 2.4-3.2 5.9-3.2 10.4zm97.9-48.6c-11.8 0-17.8 4.1-17.8 12.4 0 3.8 1.4 6.5 4.1 8.1 2.7 1.6 8.9 3.2 18.6 4.9 9.7 1.7 16.5 4 20.5 7.1 4 3.1 6 8.7 6 17.1 0 8.4-2.7 14.5-8.1 18.4-5.4 3.9-13.2 5.9-23.6 5.9-6.7 0-29.2-2.5-29.2-2.5l.7-10.6c12.9 1.2 22.3 2.2 28.6 2.2 6.3 0 11.1-1 14.4-3 3.3-2 5-5.4 5-10.1 0-4.7-1.4-7.9-4.2-9.6-2.8-1.7-9-3.3-18.6-4.8-9.6-1.5-16.4-3.7-20.4-6.7s-6-8.4-6-16.3 2.8-13.8 8.4-17.6c5.6-3.8 12.6-5.7 20.9-5.7 6.6 0 29.6 1.7 29.6 1.7V105c-12.1-.7-22-1.6-28.9-1.6zm90.4 1.4h-25.9v39c0 9.3.7 15.5 2 18.4 1.3 2.9 4.6 4.4 9.7 4.4l14.5-1 .8 10.1a111.1 111.1 0 0 1-16.6 1.8c-8.5 0-14.3-2.1-17.6-6.2-3.3-4.1-4.9-12-4.9-23.6v-42.9h-11.6V94.2H545v-25h12.1v24.9H583Zm17-29.1V61.6h12.2v14.2zm0 100V94.2h12.2v81.5zm65.2-83.2c3.6 0 9.7.7 18.3 2l3.9.5-.5 9.9a187.31 187.31 0 0 0-19.2-1.5c-9.2 0-15.5 2.2-18.8 6.6-3.3 4.4-5 12.6-5 24.5s1.5 20.2 4.6 24.9c3.1 4.7 9.5 7 19.3 7l19.2-1.5.5 10.1c-10.1 1.5-17.7 2.3-22.7 2.3-12.7 0-21.5-3.3-26.3-9.8-4.8-6.5-7.3-17.5-7.3-33s2.6-26.4 7.8-32.6c5.2-6.2 14-9.4 26.2-9.4z"
              style="opacity:1"
              transform="translate(48.492 19.875) scale(.14923)"></path><path
              d="m77.692 43.582-5.52-1.291-1.467-2.803 7.221-6.325a5.525 5.525 0 0 1 3.569 5.162c0 2.365-1.56 4.515-3.803 5.257m-4.15 6.527c-.86 0-1.703-.288-2.39-.818l1.09-5.686 5.015 1.174c.16.432.24.894.24 1.375a3.959 3.959 0 0 1-3.955 3.955m-3.678-.817a8.256 8.256 0 0 1-6.844 3.627c-4.568 0-8.284-3.716-8.284-8.283 0-.56.055-1.114.162-1.649l7.206-6.512 7.352 3.351 1.628 3.11zm-19.25-12.526c0-2.364 1.56-4.514 3.802-5.257l5.508 1.301 1.293 2.763-7.042 6.364a5.535 5.535 0 0 1-3.56-5.171m7.952-11.784a3.962 3.962 0 0 1 2.403.81l-1.1 5.707-5.018-1.185a3.965 3.965 0 0 1-.24-1.377 3.96 3.96 0 0 1 3.955-3.955m3.711.821a8.257 8.257 0 0 1 6.811-3.591c4.556 0 8.26 3.706 8.26 8.261a8.17 8.17 0 0 1-.158 1.624L69.8 38.57l-7.323-3.339-1.43-3.052zm20.51 12.538a6.587 6.587 0 0 0-4.355-6.212 9.337 9.337 0 0 0 .174-1.798c0-5.214-4.242-9.457-9.457-9.457a9.439 9.439 0 0 0-7.66 3.923 5.001 5.001 0 0 0-3.073-1.052 5.025 5.025 0 0 0-4.706 6.77c-2.602.938-4.39 3.448-4.39 6.235a6.592 6.592 0 0 0 4.376 6.23 9.589 9.589 0 0 0-.173 1.798c0 5.203 4.232 9.434 9.435 9.434a9.395 9.395 0 0 0 7.656-3.938 4.976 4.976 0 0 0 3.077 1.072 5.025 5.025 0 0 0 4.706-6.77c2.602-.937 4.39-3.448 4.39-6.235"
            ></path></g
          ></g
        ></svg
      >
      <svg
        height="60"
        fill="currentcolor"
        preserveAspectRatio="xMidYMid"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 200.025 74.877"
        ><g style="display:inline"
          ><g style="display:inline;opacity:1"
            ><path
              d="M35.982 83.484c0-5.546 4.551-7.68 12.09-7.68 10.808 0 24.461 3.272 35.27 9.103V51.484c-11.804-4.693-23.466-6.542-35.27-6.542C19.2 44.942 0 60.018 0 85.192c0 39.252 54.044 32.995 54.044 49.92 0 6.541-5.688 8.675-13.653 8.675-11.804 0-26.88-4.836-38.827-11.378v33.849c13.227 5.689 26.596 8.106 38.827 8.106 29.582 0 49.92-14.648 49.92-40.106-.142-42.382-54.329-34.845-54.329-50.774Zm96.142-66.986-34.702 7.395-.142 113.92c0 21.05 15.787 36.551 36.836 36.551 11.662 0 20.195-2.133 24.888-4.693V140.8c-4.55 1.849-27.022 8.391-27.022-12.658V77.653h27.022V47.36h-27.022Zm71.112 41.386L200.96 47.36h-30.72v124.444h35.556V87.467c8.39-10.951 22.613-8.96 27.022-7.396V47.36c-4.551-1.707-21.191-4.836-29.582 10.524zm38.257-10.524h35.698v124.444h-35.698zm0-10.809 35.698-7.68V0l-35.698 7.538V36.55Zm109.938 8.391c-13.938 0-22.898 6.542-27.875 11.094l-1.85-8.818h-31.288v165.83l35.555-7.537.143-40.249c5.12 3.698 12.657 8.96 25.173 8.96 25.458 0 48.64-20.48 48.64-65.564-.142-41.245-23.609-63.716-48.498-63.716Zm-8.533 97.991c-8.391 0-13.37-2.986-16.782-6.684l-.143-52.765c3.698-4.124 8.818-6.968 16.925-6.968 12.942 0 21.902 14.506 21.902 33.137 0 19.058-8.818 33.28-21.902 33.28zM512 110.08c0-36.409-17.636-65.138-51.342-65.138-33.85 0-54.33 28.73-54.33 64.854 0 42.808 24.179 64.426 58.88 64.426 16.925 0 29.725-3.84 39.396-9.244v-28.445c-9.67 4.836-20.764 7.823-34.844 7.823-13.796 0-26.027-4.836-27.591-21.618h69.547c0-1.85.284-9.245.284-12.658zm-70.258-13.511c0-16.071 9.814-22.756 18.774-22.756 8.675 0 17.92 6.685 17.92 22.756z"
              transform="translate(62.63 21.833) scale(.1467)"></path></g
          ></g
        ></svg
      >
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
    justify-content: center;
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }

  .menu-footer {
    --icon-size: var(--text-7xl);
    --icon-padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    background-color: var(--gray-999);
    border-radius: 0 0 0.05rem 0.05rem;
    box-shadow: var(--shadow-lg);
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    font-size: var(--icon-size);
  }

  .social {
    display: flex;
    padding: var(--icon-padding);
    text-decoration: none;
    color: var(--accent-dark);
    transition: color var(--theme-transition);
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem;
    flex-wrap: wrap;
  }

  .menu-button {
    position: relative;
    display: flex;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--gray-300);
    background: radial-gradient(var(--gray-900), var(--gray-800) 150%);
    box-shadow: var(--shadow-md);
  }

  .menu-content {
    position: absolute;
    left: 0;
    right: 0;
  }

  .menu-content {
    display: contents;
  }

  svg {
    color: var(--accent-regular);
    border: 1px solid #1b1b1b;
    border-radius: 6px;
  }

  span {
    font-size: var(--text-lg);
    color: var(--accent-regular);
    align-items: start;
    font-size: 14px;
    color: #fff;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  .footer-span {
    width: 100%;
    text-align: left;
    padding: 0 1.5rem;
  }
</style>
